:host {
  padding-left: 30px;
}

h1 {
  font-family: oswald;
  font-size: 2.3em;
  margin-left: 20px;
}

div[mat-line]:nth-child(2) {
  opacity: 0.5;
  font-family: monospace;
  letter-spacing: -1px;
}

div[mat-line]:nth-child(1) {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.grammar-title {
  width: 100%;
}

.date {
  opacity: 0.4;
}

.mat-list-single-selected-option {
  color: var(--color-accent);
}
